{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<!-- Modal2 -->
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">
						<h3 class="agileinfo_sign">Sign Up</h3>
						<div class="login-form">
							<form action="#" method="post">
								<input type="text" name="name" placeholder="Username" required="">
								<input type="email" name="email" placeholder="Email" required="">
								<input type="password" class="password" name="Password" id="password1" placeholder="Password" required="" />
								<input type="password" class="password" name="Confirm Password" id="password2" placeholder="Confirm Password" required=""
								/>
								<input type="submit" value="Sign Up">
							</form>
						</div>
						<p><a href="#"> By clicking register, I agree to your terms</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal2 -->

	<!-- about -->
	<div class="about agileinfo" style="min-height: 500px">
		<div class="container">
            <h3 class="agileits-title">HAKKIMIZDA</h3>
			<div class="markets-grids">
				<div class="col-md-6 about-w3left">
                    <h4>Patile, tedaviye ve bakıma muhtaç sokak hayvanlarınında evlerimizde beslediğimiz kendi evcil
                        hayvanlarımız gibi
                        hakettikleri tedavi ve bakımlarının hiç bir ücret ödemeksizin karşılanmasını sağlamak amacıyla
                        kurulmuş veterinerler ve hayvanseverler arasındaki
                        köprü görevini üstlenmiş bir kurumdur.</h4>
				</div>
				<div class="col-md-6 about-w3right">
					<img src="{% static 'images/sokak-hayvanlari.png'%}" alt="" />
				</div>
				<div class="clearfix"> </div>

			</div>
		</div>
	</div>
	<!-- //about -->

{% endblock %}