{% extends 'base.html' %}
{% load staticfiles %}
{% block stylesheet %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="container">
        <h3 class="agileits-title" align="center" style="margin: 15px">Bizimle iletişime geçmek ister misiniz?</h3>
        <div class="container form-top">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-body">
                            <form id="reused_form">
                                <div class="form-group">
                                    <label>Adınız</label>
                                    <input type="text" name="name" required class="form-control"
                                           placeholder="Adınızı Giriniz">
                                </div>
                                <div class="form-group">
                                    <label>Email Adresiniz</label>
                                    <input type="email" name="email" required class="form-control"
                                           placeholder="Email Adresinizi Giriniz">
                                </div>
                                <div class="form-group">
                                    <label>Mesajınız</label>
                                    <textarea rows="3" name="message" class="form-control"
                                              placeholder="Mesajınız Giriniz"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-raised btn-lg btn-warning" id="contact-sendBtn"
                                            type="submit">Gönder
                                    </button>
                                </div>
                            </form>
                            <div id="error_message" style="width:100%; height:100%; display:none; ">
                                <h4>
                                    Hata
                                </h4>
                                Formu gönderirken bir hata oluştu
                            </div>
                            <div id="success_message" style="width:100%; height:100%; display:none; ">
                                <h2>Mesajınız başarıyla gönderildi.</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="{% static 'images/pati.jpg'%}" alt="" style="width: 500px;position: relative;left: 20px" />
            </div>
        </div>

    </div>

{% endblock %}