.nav-color {
    background-color: #FF5722 !important;
}
.a-color{
    color: white !important;
}
.back-color {
    background-color: white !important;
    border-color: #FF5722;
}
.a-nav-font {

    font-family: 'Limelight', cursive;
    letter-spacing: 2px;
}
.vet-position {
    position: relative;
    top: 10px;
}
.vet-fa {
    position: relative;
    top: 15px;
}