{% extends 'base_for_vet.html' %}
{% load staticfiles %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/table.css'%}">
{% endblock %}
{% block content %}

    <table>
        <caption class="table-caption">Tedaviye Alınmamış Hayvanlar</caption>
        <thead>
        <tr class="head-color">
            <th scope="col">Sıra Numarası</th>
            <th scope="col">Türü</th>
            <th scope="col">Cinsiyeti</th>
            <th scope="col">Açıklaması</th>

        </tr>
        </thead>
        <tbody>
        {% for data in patient_datas %}
            <tr>

                <td>{{  data.name }}</td>
                <td>{{ data.status }}</td>
                <td>{{ data.description }}</td>
                <td>{{ data.description }}</td>
                <td><a href="get_warning?patient_id={{ data.id }}" class="ill_ihbar1">İhbarı Üstlen</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}