table {
    border: 2px solid #FF5722;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 75%;
    table-layout: fixed;
    position: relative;
    left: 370px;
    top: 100px;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
.table-caption{
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: black;
    text-align: center;
    caption-side: top;
    font-weight: bold;
}
table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

.head-color, tr:nth-child(even) {
    background: #FF5722 !important;
    color: white;
    font-weight: bold;
}

tr:nth-child(odd) {
    background: white;
    font-weight: bold;
}

.ill_ihbar1 {
    background-color: #FF5722;
    color: white;
    border: 1px solid white !important;
    padding: 4px;
    font-weight: bold;
}

.ill_ihbar2 {
    background-color: white;
    color: #FF5722;
    border: 1px solid #FF5722 !important;
    padding: 4px;
    font-weight: bold;
}

.ill_ihbar1:hover {
    color: white;
    text-decoration: none;
}

.ill_ihbar2:hover {
    color: #FF5722;
    text-decoration: none;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}